<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Details</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header>
      <h1>Book Title</h1>
    </header>
    <main>
      <div class="book-details">
        <img src="images/download.png" alt="Book Title" class="book-image" />
        <h2 class="title">Title: Book Title</h2>
        <p class="author">Author: Book Author</p>
        <p class="publisher">Publisher: Book Publisher</p>
        <p class="publishedDate">Published Date: Book Published Date</p>
        <h3>Description:</h3>
        <p class="discription">This is a brief description of the book.</p>
        <h3>Excerpt:</h3>
        <p class="excerpt">
          This is a short excerpt from the book to give readers a taste of its
          content...
        </p>
        <button id="getBook" style="width: 100%; height: 30px">GET BOOK</button>
        <br />
        <button id="buy" style="width: 100%; height: 30px">BUY</button>
      </div>
    </main>
    <script src="js/details.js"></script>
  </body>
</html>
