<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Details</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header>
      <h1>Book Title</h1>
    </header>
    <main>
      <div class="book-details">
        <img src="images/download.png" alt="Book Title" class="book-image" />
        <h2>Title: Book Title</h2>
        <p>Author: Book Author</p>
        <p>Publisher: Book Publisher</p>
        <p>Published Date: Book Published Date</p>
        <p>ISBN: Book ISBN</p>
        <h3>Description:</h3>
        <p>This is a brief description of the book.</p>
        <h3>Excerpt:</h3>
        <p>
          This is a short excerpt from the book to give readers a taste of its
          content...
        </p>
      </div>
    </main>
  </body>
</html>
