<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Category</title>
    <link rel="stylesheet" href="css/styles.css" />
    <style></style>
  </head>
  <body>
    <header>
      <h1>Category Name</h1>
    </header>
    <main>
      <div class="book-category">
        <div class="book" style="display: none">
          <img class="image" src="images/download.png" alt="Book Title" />
          <h3 class="title">Book Title</h3>
          <p class="author">Book Author</p>
          <button>View Details</button>
        </div>
      </div>

      <div class="pagination">
        <button class="button">1</button>
      </div>
    </main>

    <script src="js/categoryScript.js"></script>
  </body>
</html>
