<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Book Web App</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header>
      <h1>E-Book Web App</h1>
    </header>
    <nav>
      <ul>
        <li><a href="#mybooks">My Books</a></li>
        <li><a onclick="getSeeMoreCat('Text book')">Textbooks</a></li>
        <li><a onclick="getSeeMoreCat('novels')">Novels</a></li>
        <li><a href="#poems">Stories</a></li>
        <li><a href="#quiz">Quiz</a></li>
        <li><a href="#discussions">Discussions</a></li>
      </ul>
    </nav>
    <main>
      <div class="loading">
        <div class="loader"></div>
      </div>
      <div id="bookContainer">
        <section id="readingrockstars">
          <div style="display: flex; justify-content: space-between">
            <h2>Reading Rockstars</h2>
            <h4 onclick="getSeeMoreCat('Novels')">See more</h4>
          </div>

          <div class="indexbook-category">
            <!-- Example Book -->

            <div class="indexbook">
              <img id="image" src="images/download.png" alt="Book Title" />
              <h3 id="title">Book Title</h3>
              <p id="author">Book Author</p>
              <button>Read More</button>
            </div>

            <!-- Add more books here -->
          </div>
        </section>
        <section id="bookwormsdelight">
          <div style="display: flex; justify-content: space-between">
            <h2>Bookworm's Delight</h2>
            <h4 onclick="getSeeMoreCat('Text book')">See more</h4>
          </div>

          <div class="indexbook-category">
            <!-- Example Book -->
            <div class="indexbook">
              <img id="image" src="images/download.png" alt="Book Title" />
              <h3 id="title">Book Title</h3>
              <p id="author">Book Author</p>
              <button>Read More</button>
            </div>

            <!-- Add more books here -->
          </div>
        </section>
        <section id="bookshelfdiscovery">
          <div style="display: flex; justify-content: space-between">
            <h2>Bookshelf Discovery</h2>
            <h4 onclick="getSeeMoreCat('%%')">See more</h4>
          </div>

          <div class="indexbook-category">
            <!-- Example Book -->
            <div class="indexbook">
              <img id="image" src="images/download.png" alt="Book Title" />
              <h3 id="title">Book Title</h3>
              <p id="author">Book Author</p>
              <button>Read More</button>
            </div>

            <!-- Add more books here -->
          </div>
        </section>
      </div>
    </main>
    <script src="js/script.js"></script>
  </body>
</html>
