<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Book Web App</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header>
      <h1>E-Book Web App</h1>
    </header>
    <nav>
      <ul>
        <li><a href="#mybooks">My Books</a></li>
        <li><a href="#textbooks">Textbooks</a></li>
        <li><a href="#poems">Poems</a></li>
        <li><a href="#novels">Novels</a></li>
        <li><a href="#quiz">Quiz</a></li>
        <li><a href="#discussions">Discussions</a></li>
      </ul>
    </nav>
    <main>
      <section id="readingrockstars">
        <div style="display: flex; justify-content: space-between">
          <h2>Reading Rockstars</h2>
          <h4>See more</h4>
        </div>

        <div class="book-category">
          <!-- Example Book -->

          <div class="book">
            <img src="images/download.png" alt="Book Title" />
            <h3>Book Title</h3>
            <p>Book Author</p>
            <button onclick="location.href='bookdetails'">Read More</button>
          </div>
          <div class="book">
            <img src="images/download.png" alt="Book Title" />
            <h3>Book Title</h3>
            <p>Book Author</p>
            <button onclick="location.href='bookdetails'">Read More</button>
          </div>
          <div class="book">
            <img src="images/download.png" alt="Book Title" />
            <h3>Book Title</h3>
            <p>Book Author</p>
            <button onclick="location.href='bookdetails'">Read More</button>
          </div>
          <div class="book">
            <img src="images/download.png" alt="Book Title" />
            <h3>Book Title</h3>
            <p>Book Author</p>
            <button onclick="location.href='bookdetails'">Read More</button>
          </div>

          <!-- Add more books here -->
        </div>
      </section>
      <section id="bookwormsdlight">
        <div style="display: flex; justify-content: space-between">
          <h2>Bookworm's Delight</h2>
          <h4>See more</h4>
        </div>

        <div class="book-category">
          <!-- Example Book -->
          <div class="book">
            <img src="images/download.png" alt="Book Title" />
            <h3>Book Title</h3>
            <p>Book Author</p>
            <button onclick="location.href='bookdetails'">Read More</button>
          </div>
          <div class="book">
            <img src="images/download.png" alt="Book Title" />
            <h3>Book Title</h3>
            <p>Book Author</p>
            <button onclick="location.href='bookdetails'">Read More</button>
          </div>
          <div class="book">
            <img src="images/download.png" alt="Book Title" />
            <h3>Book Title</h3>
            <p>Book Author</p>
            <button onclick="location.href='bookdetails'">Read More</button>
          </div>
          <div class="book">
            <img src="images/download.png" alt="Book Title" />
            <h3>Book Title</h3>
            <p>Book Author</p>
            <button onclick="location.href='bookdetails'">Read More</button>
          </div>
          <!-- Add more books here -->
        </div>
      </section>
      <section id="bookshelfdiscovery">
        <div style="display: flex; justify-content: space-between">
          <h2>Bookshelf Discovery</h2>
          <h4>See more</h4>
        </div>

        <div class="book-category">
          <!-- Example Book -->
          <div class="book">
            <img src="images/download.png" alt="Book Title" />
            <h3>Book Title</h3>
            <p>Book Author</p>
            <button onclick="location.href='bookdetails'">Read More</button>
          </div>
          <div class="book">
            <img src="images/download.png" alt="Book Title" />
            <h3>Book Title</h3>
            <p>Book Author</p>
            <button onclick="location.href='bookdetails'">Read More</button>
          </div>
          <div class="book">
            <img src="images/download.png" alt="Book Title" />
            <h3>Book Title</h3>
            <p>Book Author</p>
            <button onclick="location.href='bookdetails'">Read More</button>
          </div>
          <div class="book">
            <img src="images/download.png" alt="Book Title" />
            <h3>Book Title</h3>
            <p>Book Author</p>
            <button onclick="location.href='bookdetails'">Read More</button>
          </div>
          <!-- Add more books here -->
        </div>
      </section>
    </main>
    <script src="js/script.js"></script>
  </body>
</html>
